[submodule "seata"]
	path = seata
	url = git@github.com:seata/seata.git
[submodule "openai-java"]
	path = openai-java
	url = git@github.com:TheoKanning/openai-java.git
[submodule "spring-boot"]
	path = spring-boot
	url = git@github.com:spring-projects/spring-boot.git
[submodule "logging-log4j2"]
	path = logging-log4j2
	url = git@github.com:apache/logging-log4j2.git
[submodule "jdk"]
	path = jdk
	url = git@github.com:adoptium/jdk.git
