[submodule "seata"]
	path = seata
	url = git@github.com:seata/seata.git
[submodule "openai-java"]
	path = openai-java
	url = git@github.com:TheoKanning/openai-java.git
[submodule "spring-boot"]
	path = spring-boot
	url = git@github.com:spring-projects/spring-boot.git
[submodule "logging-log4j2"]
	path = logging-log4j2
	url = git@github.com:apache/logging-log4j2.git
[submodule "jdk"]
	path = jdk
	url = git@github.com:adoptium/jdk.git
[submodule "SHAFT_ENGINE"]
	path = SHAFT_ENGINE
	url = git@github.com:ShaftHQ/SHAFT_ENGINE.git
[submodule "TheAlgorithms_Java"]
	path = TheAlgorithms_Java
	url = git@github.com:TheAlgorithms/Java.git
[submodule "JavaDesignPatterns"]
	path = JavaDesignPatterns
	url = git@github.com:iluwatar/java-design-patterns.git
[submodule "Baeldung_Tutorials"]
	path = Baeldung_Tutorials
	url = git@github.com:eugenp/tutorials.git
[submodule "jhipster"]
	path = jhipster
	url = git@github.com:jhipster/jhipster-bom.git
